.dwcrm-slider-wrapper-tooltips{
    margin-top:50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 40px;
}
.dwcrm-slider-wrapper-no-tooltips{
    margin-top:20px;
    margin-bottom:20px;
    padding-left: 10px;
    padding-right: 40px;
}